<nav class="header">
  <div class="navItem">
    <a href="/"><img src="/assets/MyHome.png" title="Home"></a>
  </div>
  <div class="navItem">
    <a href="/feelings"><img src="/assets/Feelings.png" title="Feelings"></a>
  </div>
  <div class="navItem">
    <a href="/posts"><img src="/assets/Write.png" title="All Posts"></a>
  </div>
  <div class="navItem">
    <a href="/users"><img src="/assets/Users.png" title="All Users"></a>
  </div>
  <div class="navItem">
    <a href="/users/login"><img src="/assets/Login.png" title="Log In"></a>
  </div>
  <div class="navItem">
    <a href="/users/logout"><img src="/assets/Logout.png" title="Log Out"></a>
  </div>
  <div class="navItem">
    <a href="/users/home"><img src="/assets/Me.png" title="My Account"></a>
  </div>
</nav>
