<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Admin Index Page</title>
  </head>
  <body>
    <h1>Admin Page</h1>

    <h1><a href="/admin/feelings">Feelings</a></h1>
    <h1><a href="/admin/posts">Posts</a></h1>
    <h1><a href="/admin/users">Users</a></h1>
  </body>
</html>
