<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Users</title>
  </head>
  <body>
    <a href="/admin">Back to Admin</a>
    <br/><br/>
    <ul>
      <% for (let i = 0; i < users.length; i++) { %>
        <li><%=users[i].username%></li>
        <form action="/admin/user/<%=users[i]._id%>?_method=DELETE" method="POST">
          <input type="submit" value="Delete User"/>
        </form>
      <% } %>
    </ul>

  </body>
</html>
