<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
    <% include ../partials/nav.ejs %>
    <meta charset="utf-8">
    <title>iFelt @ Home</title>
  </head>
  <body>
    <div class="title">
      <h2>Welcome to iFelt</h2>
      <p>How do you feel today?</p>
    </div>

    <div class="homeContainer">
      <div class="six columns">
        <h3 class="centerText">Feelings</h3>
        <p>Feeling excited about an accomplishment? Does the weather have you feeling down? Would you like to feel inspired by others? You're not alone - see what's made other users feel the same way, and maybe see what those feelings led them to do.</p>
        <a href="/feelings">View All Feelings</a>
      </div>

      <div class="six columns">
        <h3 class="centerText">Posts</h3>
        <p>Not sure how you're feeling today? Maybe you just want to see what others are thinking. That's okay, too. Browse through all of iFelt's posts.  Chances are, someone else will have put into words what you're feeling right now.</p>
        <a href="/posts">All Posts</a>
      </div>

      <div class="six columns">
        <h3 class="centerText">Browse By User</h3>
        <p>Have you found a user whose words resonate with you? Maybe you just want to see what someone different has to say. Take a look through some posts created by other iFelt users.</p>
        <a href="/users">Browse by User</a><br/>
      </div>
    </div>
    <% include ../partials/footer.ejs %>
  </body>
</html>
