body {
  margin: 0 0 40px;
  height: 100%;
}
html {
  position: relative;
  min-height: 100%;

}
.header {
  height: 100px;
  width: 100%;
  background-color: rgb(216,254,254);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.header img {
  width: 60px;
  height: 60px;
  margin-top: 20px;
}
.footer {
  background-color: rgb(216,254,254);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
  bottom: 0px;
  height: 40px;
  width: 100%;
}
.footer ul {
  list-style: none;
  margin-top: 8px;
}
.footer li {
  float: left;
  display: block;
  margin: 0 100px;
}

.title {
  margin-top: 20px;
  text-align: center;
}
.title p {
  line-height: 18px;
  margin-top: -20px;
}

.homeContainer {
  display: flex;
  flex-direction: row;
  margin-left: 5%;
  margin-right: 5%;
  text-align: justify
}
.homeContainer h2 {
  text-align: center;
}
.homeContainer a {
  display: block;
  text-align: center;
  margin-top: -20px;
}
/*----------Use across multiple pages----------*/
.centerText {
  text-align: center;
}
.pageHeader {
  margin-top: 16px;
}
.secondHeader {
  margin-top: -16px;
}
.quote {
  margin: 0 auto;
  width: 450px;
  margin-top: -8px;
}
.quoter {
  font-style: italic;
}
.horizontalList {
  margin-top: 40px;
}
.horizontalList li {
  display: inline;
  margin-left: 50px;
  margin-right: 50px;
}
/*---------------------------------------------*/

/*-----------------Post Classes----------------*/
.editPostForm {
  width: 70%;
  margin-left: 15%;
}
.editPostTitle {
  float: left;
}
.editPostButton {
  float: right;
}
.editPostBody {
  width: 100%
}
.newPostForm {
  width: 80%;
  margin-left: 10%;
  margin-top: 30px;
}
.newPostText {
  width: 100%;
}
.newPostTitle {
  float: left;
}
.newPostFeeling {
  float: right;
}
.byLine {
  margin-top: -24px;
  margin-bottom: 16px;
}
.showPostText {
  width: 80%;
  margin-left: 10%;
  text-align: justify;
}
.commentTextArea {
  width: 100%;
  height: 40px;
}
.addCommentButton {
  float: right;
  margin-top: -16px;
}
.commentDiv {
  width: 100%;
}
.commentText {
  margin-left: 2.5%;
}
/*---------------------------------------------*/

/*-------------User Classes--------------------*/
.registerForm {
  width: 350px;
  text-align: right;
  margin: 0 auto;
}
.createUserButton {
  margin-right: calc(50% - 45px);
}
.userPost {
  width: 300px;
  margin: 0 auto;
  max-height: 75px;
}
.userPostText {
  text-align: center;
}
.userDeleteButton {
  float: right;
  margin-top: -78px;
}
.userPostButton {
  margin: 0 auto;
}
/*---------------------------------------------*/
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
textarea {
  height: 200px;
  display: inline-block;
}
