<!DOCTYPE html>
<html>
  <head>
    <% include ../../partials/nav.ejs %>
    <% include ../../partials/head.ejs %>
    <meta charset="utf-8">
    <title><%=feeling%> Page</title>
  </head>
  <body>
    <div class="centerText">
      <h3 class="pageHeader">Feeling <%=feeling%>?</h3>
      <p class="quote">Don't keep all your feelings sheltered - express them.  Don't ever let life shut you up."</p>
      <p class="quoter">Dr. Steve Maraboli</p>

      <ul>
        <% for (let i = 0; i < posts.length; i++) { %>
          <li><a href="/posts/<%=posts[i]._id%>"><%=posts[i].title%></a></li>
        <% } %>
      </ul>
    </div>
    <% include ../../partials/footer.ejs %>
  </body>
</html>
