<!DOCTYPE html>
<html>
  <head>
    <% include ../../partials/nav.ejs %>
    <% include ../../partials/head.ejs %>
    <meta charset="utf-8">
    <title>All Users</title>
  </head>
  <body>
    <div class="centerText">
      <h3 class="pageHeader">iFelt's Users</h3>
      <p class="quote">"Feelings are just visitors.  Let them come and go."</p>
      <p class="quoter">Mooji</p>
      <ul>
        <% for (let i = 0; i < users.length ; i++) { %>
          <li><a href="/users/<%=users[i]._id%>"><%=users[i].firstName%></a></li>
        <% } %>
      </ul>
    </div>
    <% include ../../partials/footer.ejs %>
  </body>
</html>
