<!DOCTYPE html>
<html>
  <head>
    <% include ../../partials/nav.ejs %>
    <% include ../../partials/head.ejs %>
    <meta charset="utf-8">
    <title>User Login Page</title>
  </head>
  <body>
    <div class="centerText">
      <h3 class="pageHeader">User Login Page</h3>
      <% if (passwordFail === true) { %>
        <p>Username and password combination not found</p>
      <% } %>

      <form action="/users/login" method="POST" class="loginForm">
        Username: <input type="text" name="username"><br/>
        Password: <input type="password" name="password"><br/>
        <input type="submit" value="Submit">
      </form>
      Don't have an iFelt account? <a href="/users/register">Create one now</a>
    </div>
    <% include ../../partials/footer.ejs %>
  </body>
</html>
