<!DOCTYPE html>
<html>
  <head>
    <% include ../../partials/nav.ejs %>
    <% include ../../partials/head.ejs %>
    <meta charset="utf-8">
    <title>Edit Post</title>
  </head>
  <body>
    <div class="centerText">
      <h3 class="pageHeader">Edit Post</h3>
      <h5 class="secondHeader"><%=post.title%></h5>

      <div class="editPostForm">
      <form action='/posts/edit/<%=post._id%>?_method=PUT' method="POST">

        <div class="editPostTitle">
          <input type="text" name="title" value="<%=post.title%>">
        </div>
        <div class="editPostButton">
          <input type="submit" value="Edit Post">
        </div>

        <textarea name="postBody" class="editPostBody"><%=post.postBody%></textarea>

      </form>


    </div>
    <% include ../../partials/footer.ejs %>
  </body>
</html>
