<!DOCTYPE html>
<html>
  <head>
    <% include ../../partials/nav.ejs %>
    <% include ../../partials/head.ejs %>
    <meta charset="utf-8">
    <title>Show Individual Post</title>
  </head>
  <body>
    <div class="centerText">
      <h3 class="pageHeader"><%=post.title%></h1>
        <div class="byLine">
          <small>By: <%=post.authorFirstName%> <%=post.authorLastName%></small>
        </div>
        <div class="showPostText">
          <p><%=post.postBody%></p>
        </div>
      <div class="horizontalList">
        <ul>
          <li><a href="/posts">All Posts</a></li>
          <li><a href="/feelings">All Feelings</a></li>
        </ul>
      </div>
    </div>
    <% include ../../partials/footer.ejs %>
  </body>
</html>
